html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-weight: 500;
  font-family: "PFDinTextCondPro";
  font-size: 20px;

  padding: 0%;
  margin: 0%;
  border: 0%;
  cursor: default;
}
.conatiner-number-one {
  width: 80%;
  margin: auto;
  background: #e7e7e7;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
a:visited {
  color: black;
}
a.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}
h1 {
  text-align: center;
  height: 100%;
  font-size: 40px;
  color: white;
}
h2 {
  text-align: center;
  height: 100%;
  font-size: 35px;
  color: black;
}
h4 {
  font-size: 25px;
}
p {
  font-size: 15px;
  margin: 5px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.logo-img {
  height: 150px;
  margin-right: 20px;
}
label,
.form-input-date p {
  font-size: 20pt;
  font-weight: bold;
  font-size: 25px;
}

.__error {
  box-shadow: 0 0 10px red;
}

label:focus,
input:focus,
select:focus,
option:focus {
  box-shadow: 0 0 10px forestgreen;
}

input,
select,
option {
  height: 40px;
  width: 240px;
  border-radius: 8px;
  border: 0;
  padding: 5px;
  margin: 2px;
  background: white;
  font-size: 15pt;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  outline: none;
}
/*Так как padding не работает на select, 
для уравнивания высоты и ширины 
нужно прибавить 2*padding(px) к H и W*/
select {
  height: 50px;
  width: 250px;
}
.form-call-order > input {
  width: 100%;
  padding: 5px;
  max-width: 100%;
  background: white;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background: white;
}
button {
  align-self: center;
  margin: 25px 20px 20px 20px;
  width: 250px;
  border: 2px solid white;
  border-radius: 4px;
  max-width: 100%;
  background: white;
  font-size: 17pt;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.back-top {
  height: 40px;
  width: 40px;
  position: fixed;
  top: 90vh;
  right: 5vh;
}
.logo,
.telephon {
  margin-left: 2%;
  margin-right: 2%;
}

.container-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background: white;
}

.item-header {
  width: 100%;
  margin: 10px;
}

.container-nav {
  position: sticky;
  top: 0vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  background: white;
}
.navOpenButton,
.navCloseButton {
  display: none;
  margin: 15px;
  max-width: 50px;
  max-height: 50px;
}

.item-nav {
  font-size: 30px;
  margin: 20px;
}

.container-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.item-main {
  min-height: 100vh;
  width: 100%;
  align-items: center;
  align-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.services {
  width: 100%;
  height: 100%;
  background-image: url("../img/2_2.jpg");
  background-size: cover;
  text-align: left;
  margin: auto;
  font-size: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}
.services > h1 {
  flex-basis: 100%;
  color: white;
}
.services-item > p {
  font-size: 30px;
}
.services-item {
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

.button-calculation {
  height: 75px;
  width: 300px;
  background: white;
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.button-calculation:hover {
  box-shadow: 0 0 15px forestgreen;
}
.form-action {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2px;
  margin-top: 2px;
  max-width: 100%;
  /*background: rgba(255,255, 255, 0.5);*/
  padding: 5%;
  padding-right: 5%;
  padding-left: 5%;
}
.form-input-date > h1 {
  flex-basis: 100%;
  color: black;
}
.f1,
.f2,
.f3,
.f4,
.f5 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.frame-driver {
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.f1 > h2,
.f2 > h2,
.f3 > h2,
.f4 > h2,
.f5 > h2,
.number-driver,
h3 {
  flex-basis: 100%;
}
.f1-e,
.f2-e,
.f3-e,
.f4-e,
.f5-e {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
}
.f5-e > input {
  width: 300px;
  display: block;
}
.number-driver {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 15px 0px 25px;
  padding: 0%;
}
.driver {
  background: white;
  height: 40px;
  width: 40px;
  border: 3px solid white;
  text-align: center;
  font-size: 33px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.driver:hover {
  box-shadow: 0 0 15px forestgreen;
}

.start-driver {
  border-radius: 10px 0px 0px 10px;
  background: white;
}
.end-driver {
  border-radius: 0px 10px 10px 0px;
  width: 230px;
  background: #8abe5c;
}
.container-profit {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  background: #8abe5c;
  width: 100%;
  height: 100%;
  
}
.container-profit > h1 {
  flex-basis: 100%;
}
.item-pofit {
  width: 25%;
  min-height: 300px;
  margin: 10px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);

}
.item-pofit > p{
  font-size: 20px;
}
.container-call {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #8abe5c;
}

.form-call-order {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.form-call-order > p {
  color: white;
  font-size: 25px;
}
form {
  margin: 5px;
}
.contacts {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.contacts > p {
  font-size: 30px;
}
.contacts > h1 {
  color: black;
}

.FAQ {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.FAQ > h1 {
  color: black;
}

.windowOk {
  position: fixed;
  right: 25%;
  top: 30%;
  width: 50%;
  height: 40%;
  display: none;
  z-index: 1;
  border-radius: 20px;
  background: rgb(243, 243, 243);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.windowOk > p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  padding: 10%;
  font-size: 40px;
  text-align: center;
}
.okButton {
  position: absolute;
  top: 80%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  font-size: 35px;
  border-radius: 15px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
.okButton:hover {
  box-shadow: 0 0 15px forestgreen;
}

.spoiler {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.spoiler > div {
  padding: 5px;
  margin: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.spoiler > div:hover {
  box-shadow: 0 0 15px forestgreen;
}

.spoiler_links {
  width: 100%;
  height: 100%;
  font-size: 25px;
}
.spoiler_links::before {
  content: "☞";
  margin: 5px;
  font-size: 30px;
  text-decoration: solid;
}
.spoiler_body {
  display: none;
  cursor: pointer;
}
.question {
  font-size: 20px;
}

@media (max-width: 1000px) {
  body {
    margin: auto;
    font-size: 20pt;
  }
  h1 {
    font-size: 40pt;
  }
  h2 {
    font-size: 30pt;
  }
  p {
    font-size: 15pt;
  }
  input,
  select,
  option {
    height: 60px;
    width: 290px;
    border-radius: 8px;
    border: 0;
    padding: 5px;
    margin: 8px;
    font-size: 20pt;
  }
  /*Так как padding не работает на select, 
для уравнивания высоты и ширины 
нужно прибавить 2*padding(px) к H и W*/
  select {
    height: 70px;
    width: 300px;
  }
  .form-input-date p {
    font-size: 20pt;
  }
  label {
    font-size: 20pt;
  }

  button {
    align-self: center;
    margin-top: 50px;
    height: 50px;
    width: 400px;
    border: 0px;
    border-radius: 10px;
    font-size: 17pt;
    cursor: pointer;
  }
  button:hover{
    box-shadow: 0 0 15px forestgreen;
  }

  .container-nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .conatiner-number-one {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 0;
    background: #e7e7e7;
  }
  .container-profit {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: #8abe5c;
    width: 100%;
    height: 100%;
  }
  .item-pofit {
    width: 90%;
    min-height: 10vh;
    margin: 1em;
  }
  .navOpenButton {
    display: block;
    margin-bottom: 15px;
  }
  .navCloseButton {
    display: none;
    margin-bottom: 15px;
  }
  .item-nav {
    font-size: 20pt;
    margin: 20px;
    display: none;
  }


  .services {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-image: url("../img/2_2m.jpg");
    background-size: cover;
  }
  .services-item {
    margin: 0%;
    padding: 0%;
  }
  .services-item > p {
    font-size: 42px;
    padding: 0%;
    margin: 0%;
  }
  .services-item > .button-calculation {
    margin: 0px;
  }
  .contacts > p {
    font-size: 50px;
  }
  .item-nav {
    font-size: 50px;
    margin: 20px;
  }
  .form-call-order {
    width: 70%;
  }
  .form-call-order > p {
    color: white;
    font-size: 40px;
  }
  .form-call-order > input {
    width: 100%;
    padding: 5px;
    max-width: 100%;
  }

  .spoiler {
    width: 90%;
  }
}
.container-footer {
  display: flex;
  color: white;
  font-size: 25px;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  background: rgb(243, 243, 243);
  padding: 30px;
  /*background: #343a40;*/
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.item-footer {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.item-footer > img {
  padding: 40px;
  max-width: 150px;
}

@media (min-width: 1000px) {
  .navOpenButton {
    display: none;
  }
}
/*Альбомная ориентация*/
@media (orientation: landscape) and (max-height: 600px) {
  .item-nav {
    font-size: 17pt;
    margin: 10px;
    display: none;
  }
  .container-nav {
    margin: 2px;
    padding: 0%;
  }
}
