body {
  color:white;
  font-weight: bold;
  font: italic;
  font-size: 15px;
  background-image: url(img/header.jpg);
}

.logo,
.telephon {
  margin-left: 2%;
  margin-right: 2%;
}

.container-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  /*background: rgba(255,255, 255, 0.5);*/
}

.item-header {
  width: 100%;
  margin: 10px;
  font-size: xx-large;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /*background: rgba(255,255, 255, 0.5);*/
}
.navOpenButton,
.navCloseButton {
  display: none;
  margin: 15px;
}
@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*background: rgba(255,255, 255, 0.5);*/
  }
  .navOpenButton,
  .navCloseButton {
    display: block;
    margin-bottom: 15px;
  }
  .item-nav {
    font-size: x-small;
    margin: 20px;
    display: none;
  }
}

.item-nav {
  font-size: x-large;
  margin: 20px;
}

.container-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.services{
  text-align: center;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 100%;
  background: rgba(255,255, 255, 0.5);
}

.form-action{
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 2px;
  margin-top: 2px;
  max-width: 100%;
  background: rgba(255,255, 255, 0.5);
  padding: 5%;
  padding-right: 15%;
  padding-left: 15%;
  }

.f1, .f2, 
.f3, .f4{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
} 

.container-question{
  display: flex;
  border: 2px;
  flex-flow: row nowrap;
  border-color: white;
  width: 70%;
}
.container-footer {
  display: flex;
  color: black;
  flex-flow: row wrap;
}

h1{
  text-align: center;
}

label{
  color: black;
  font-weight: bold;
  font-size: 15px;
  font: italic;
}
input, select{
  margin: 5px;
  max-height: 20px;
  width: 450px;
}
#status-insuder, #patronymic{
  width: 15px;
}

button{
  align-self: center;
  margin: 20px;
  max-height: 20px;
  width: 450px;
}