body {
  color: white;
  font-weight: bold;
}

.logo, .telephon{
  margin-left: 2%;
  margin-right: 2%;
}

.container-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  background: black;
}

.item-header {
  width: 100%;
  margin: 10px;
  font-size: xx-large;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: black;
}
.navOpenButton, .navCloseButton {
  display: none;
  margin: 15px;
}
@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: black;
  }
  .navOpenButton, .navCloseButton {
    display: block;
    margin-bottom: 15px;
  }
  .item-nav {
    margin: 20px;
    display: none;
  }
}

.item-nav {
  margin: 20px;
}

.container-2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 20%;
  background-image: url(img/header.jpg);
  padding-top: 5%;
  padding-bottom: 8%;
}

.container-3{
  display: flex;
  color: black;
  flex-flow: column nowrap;
}


